styles.php
body
{
	padding:0;
	margin:0;
	background-color:#CCC;
}

#imageupload
{
	width:217px;
	height:30px;
	border:1px solid #999;
	padding-top:10px;
	padding-left:5px;
}

.theButtons
{
	width:222px;
	height:40px;
	background-color:#335495;
	border:2px solid blue;
	font-weight:bold;
	font-family:tahoma;
	color:#FFF;
	border-radius:2px;
}
.inputFields
{
	width:215px;
	height:27px;
	padding-left:5px;
	border:1px solid #999;
	outline:none;
	border-radius:2px;
	transition:0.3s linear;
}

.inputFields:focus
{
	border:1px solid #000;
	box-shadow:0px 0px 10px #999;
}


#menu
{
	width:990px;
	margin:0px auto;
	text-align:center;
	border-bottom:1px solid #CCC;
}

#menu a
{
	text-decoration:none;
	display:inline-block;
	color:#666;
	padding:14px;
	background-color:#F8F8F8;
}

#menu a:hover
{
	color:#000;
	background-color:#eee;
}

#error
{
	width:990px;
	margin:0px auto;
	height:30px;
	background-color:red;
	margin-top:20px;
	padding-left:10px;
	padding-top:10px;
	color:#FFF;
	font-weight:bold;
	font-size:15px;
	display:none;
	
}

#wrapper
{
	width:1000px;
	background-color:#FFF;
	margin:0px auto;
	min-height:400px;
	border:1px solid #999;
	border-bottom:3px solid #999;
	border-radius:5px;
	padding-bottom:20px;
}


#formDiv
{
	width:300px;
	margin:0px auto;
	margin-top:20px;
	font-family:tahoma;
	font-size:14px;
}












